<div class="box-body table-responsive listStyle">
    <!--table class="table table-trapped"-->
    <table class="table" [style.width]="'100%'">
        <thead [style.backgroundColor]="'#006420'">
            <tr [style.color]="'white'">
                <th></th>
                <th (click)="sort_sd('name')"><span>{{ 'DOCUMENT.SIGNEDDOCLIST.NAME' | translate }}</span><span class="fa fa-long-arrow-up" *ngIf="key_sd === 'name' && !reverse_sd"></span><span class="fa fa-long-arrow-down" *ngIf="key_sd === 'name' && reverse_sd"></span></th>
                <th (click)="sort_sd('requestedDeliveryDate')"><span>{{ 'DOCUMENT.SIGNEDDOCLIST.REQUESTED_DATE' | translate }}</span><span class="fa fa-long-arrow-up" *ngIf="key_sd === 'requestedDeliveryDate' && !reverse_sd"></span><span class="fa fa-long-arrow-down" *ngIf="key_sd === 'requestedDeliveryDate' && reverse_sd"></span></th>
                <th (click)="sort_sd('status')"><span>{{ 'DOCUMENT.SIGNEDDOCLIST.STATUS' | translate }}</span><span class="fa fa-long-arrow-up" *ngIf="key_sd === 'status' && !reverse_sd"></span><span class="fa fa-long-arrow-down" *ngIf="key_sd === 'status' && reverse_sd"></span></th>
                <th (click)="sort_sd('type')"><span>{{ 'DOCUMENT.SIGNEDDOCLIST.TYPE' | translate }}</span><span class="fa fa-long-arrow-up" *ngIf="key_sd === 'type' && !reverse_sd"></span><span class="fa fa-long-arrow-down" *ngIf="key_sd === 'type' && reverse_sd"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of signedDocdocuments  | orderBy: key_sd : reverse_sd  | paginate: {id:'serverPaging', itemsPerPage: 3, currentPage: p_sd } ; let i_sd = index" (click)="getCurrentDoc(i_sd)" [class.active]="i_sd == HighlightRow">
                <td>
                    <i *ngIf="!isDownloadInProgress(data)" class="fa fa-download zp-clickable-icon" style="color:#006420;"(click)="downloadContent(data, $event)"></i>
                    <mat-spinner diameter="15" *ngIf="isDownloadInProgress(data)"></mat-spinner>
                </td>
                <td attr.data-title="{{ 'DOCUMENT.SIGNEDDOCLIST.NAME' | translate }}">{{ data.name }}</td>
                <td attr.data-title="{{ 'DOCUMENT.SIGNEDDOCLIST.REQUESTED_DATE' | translate }}">{{ data.requestedDeliveryDate | date:'yyyy-MM-dd' }}</td>
                <td attr.data-title="{{ 'DOCUMENT.SIGNEDDOCLIST.NAME' | translate }}">
                    <i class="fa fa-check-circle" style="color:#006420;" aria-hidden="true" title="{{ ('DOCUMENT.SIGNEDDOCLIST.TBODY.STATUS.' + data.status) | translate }}"></i>
                </td>
                <!--td>{{data.status}}</td-->
                <td attr.data-title="{{ 'DOCUMENT.SIGNEDDOCLIST.TYPE' | translate }}">{{ ('DOCUMENT.SIGNEDDOCLIST.TBODY.TYPE.' + data.type) | translate }}</td>
            </tr>
        </tbody>
    </table>
    <div [align]="'right'">
        <pagination-controls id="serverPaging" (pageChange)="p_sd = $event" previousLabel="{{ 'DOCUMENT.SIGNEDDOCLIST.PREVIOUS' | translate }}" nextLabel="{{ 'DOCUMENT.SIGNEDDOCLIST.NEXT' | translate }}"></pagination-controls>
    </div>
    <div class="overlay" *ngIf="!loadingCompleted_sd">
        <div class="center">
            <mat-spinner diameter="40"></mat-spinner>
        </div>
    </div>
</div>